[user]
	name = {{ .name }}
	email = {{ .email }}
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = Coldark-Dark
[merge]
	# zdiff3 needs git >= 2.35; fall back to diff3 on older git (e.g. distro builds)
	conflictStyle = {{ if semverCompare ">=2.35.0" (output "git" "version" | regexFind "[0-9]+\\.[0-9]+\\.[0-9]+") }}zdiff3{{ else }}diff3{{ end }}
[diff]
	colorMoved = default
	algorithm = histogram
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[fetch]
	prune = true
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --oneline --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --
